<div class="cnt" id="card">

    <div class="cnt" id="title">
        <h4>Listado de Precios</h4>
    </div>
    <div class="cnt" id="subtitle">

    </div>
    <div class="cnt" id="main_img">
        <img src="../../../assets/ims.png" style="margin-bottom: 5px;" />
    </div>

    <div class="cnt" id="actions">

        <div class="cnt" id="mas_menos">
            <button id="mas_menos_btn" data-toggle="collapse" data-target="#collapseExample"><i class="fas fa-angle-double-down fa-lg"></i></button>
        </div>

    </div>
    <div class="collapse"  id="collapseExample">
        <div class="cnt" style="height: auto; border: none;" id="card_body">

            <div class="cnt" style="height: auto; margin-bottom: 5px; border-color: rgb(62, 65, 245);">
                <div class="cnt" id="mas_menos">
                    <button id="pre_btn" class="pre_title" data-toggle="collapse" data-target="#jefe_body"> Pino </button>
                </div>
                <div class="collapse"  id="jefe_body">
                    <div class="cnt pre_title pre_body" style="height: auto;">

                        <div class="cnt_simple clm_2 txt_centered" style="border: none;">

                            <div class="cnt_simple icon_center">
                                <i class="fas fa-address-card fa-lg"></i>
                            </div>

                            <div class="cnt_simple">
                                Ing Juan Alverto Soyos
                            </div>
                                
                        </div>

                        <div class="cnt_simple clm_2 txt_centered">

                            <div class="cnt_simple icon_center" >
                                <i class="fas fa-envelope-open-text fa-lg"></i>
                            </div>

                            <div class="cnt_simple">
                                juandosant@gmail.com
                            </div>
                                
                        </div>

                    </div>
                </div>
                
            </div>

        </div>
    </div>
  
</div>

