<div class="frame">

    <div class="long" style="font-size: 18px; text-align: center; color: rgb(231, 62, 62); padding-left: 0px;">

        <!--
        <div class="lbl" style="float: right; font-size: 18px;">
            {{long}}
        </div>
        -->
        {{meds}}
    </div>

    <div class="long" id="rustico" style="font-size: 15px;">
        {{rust}}
    </div>

    <div class="long" id="cepillado">
        {{cepi}}
    </div>

    
    
    <!--
    <div class="long" id="twin">
        <div class="long" id="rustico">
            {{rust}}
        </div>
    
        <div class="long" id="cepillado">
            {{cepi}}
        </div>
    </div>
    <div class="long" style="padding: 0px; color: orangered;">

        <div class="lbl" style="margin-right: 5px;">
            S
        </div>
        {{stock}}
    </div>
    -->
    
</div>


<!--

<div id="frame">

    <div id="dims">

        <div id="meds">
            12 x 13
        </div>

        <div id="larg">
            10
        </div>

    </div>

    <div id="price">
        <div id="rust">
            378
        </div>

        <div id="rust">
            429
        </div>
    </div>

    <div id="stock">
        <div id="lbl">
            stock
        </div>

        <div id="exist">
            9241
        </div>
    </div>
</div>




<div id="frame">

    <div id="dims">

        <div id="meds">
            12 x 13
        </div>

        <div id="larg">
            10
        </div>

    </div>

    <div id="price">
        <div id="rust">
            378
        </div>

        <div id="rust">
            429
        </div>
    </div>

    <div id="stock">
        <div id="lbl">
            stock
        </div>

        <div id="exist">
            241
        </div>
    </div>
</div>
-->