<br>
<div class="mat">

    <div class="sap" style="border-color: rgb(6, 111, 209);">
        <button class="cbs btn btn-success" style="border-radius: 0px; background-color: rgb(0, 117, 226);"  data-toggle="collapse" data-target="#seven_colapse" aria-expanded="false">
                Aglomerado
        </button>

        <div class="sept">
                
            <div class="conti collapse" id="seven_colapse">
                <div style="height: 5px;"></div>
                <div class="nent">
                

                    <div class="linea">
                        <div class="desc">
                            Nacional 5/8''
                        </div>
                        <div class="desc">
                            175
                        </div>
                    </div>

                    <div class="linea">
                        <div class="desc">
                            Nacional 3/4''
                        </div>
                        <div class="desc">
                            210
                        </div>
                    </div>

                    <div class="linea">
                        <div class="desc">
                            Importado 5/8''
                        </div>
                        <div class="desc">
                            220
                        </div>
                    </div>

                    <div class="linea">
                        <div class="desc">
                            Importado 3/4''
                        </div>
                        <div class="desc">
                            260
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="sap" style="border-color: rgb(6, 111, 209);">
        <button class="cbs btn btn-success" style="border-radius: 0px; background-color: rgb(0, 117, 226);;"  data-toggle="collapse" data-target="#ply_collapse" aria-expanded="false">
                Plywood
        </button>

        <div class="sept">
                
            <div class="conti collapse" id="ply_collapse">
                <div style="height: 5px;"></div>
                <div class="nent">
                

                    <div class="linea">
                        <div class="desc">
                            Sangre 3/16''
                        </div>
                        <div class="desc">
                            90
                        </div>
                    </div>

                    <div class="linea">
                        <div class="desc">
                            Sangre 1/4''
                        </div>
                        <div class="desc">
                            110
                        </div>
                    </div>

                    <div class="linea">
                        <div class="desc">
                            Sangre 3/8''
                        </div>
                        <div class="desc">
                            160
                        </div>
                    </div>

                    <div class="linea">
                        <div class="desc">
                            Sangre 3/4''
                        </div>
                        <div class="desc">
                            195
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="sap" style="border-color: rgb(6, 111, 209);">
        <button class="cbs btn btn-success" style="border-radius: 0px; background-color: rgb(0, 117, 226);"  data-toggle="collapse" data-target="#mdf_collapse" aria-expanded="false">
                MDF
        </button>

        <div class="sept">
                
            <div class="conti collapse" id="mdf_collapse">
                <div style="height: 5px;"></div>
                <div class="nent">
                

       
                    <div class="linea">
                        <div class="desc">
                            5/8''
                        </div>
                        <div class="desc">
                            260
                        </div>
                    </div>

                    <div class="linea">
                        <div class="desc">
                            3/4''
                        </div>
                        <div class="desc">
                            290
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="sap" style="border-color: rgb(6, 111, 209);">
        <button class="cbs btn btn-success" style="border-radius: 0px; background-color: rgb(0, 117, 226);"  data-toggle="collapse" data-target="#cajas_collapse" aria-expanded="false">
                Cajas en Blanco
        </button>

        <div class="sept">
                
            <div class="conti collapse" id="cajas_collapse">
                <div style="height: 5px;"></div>
                <div class="nent" >
                

       
                    <div class="linea">
                        <div class="desc" style="font-size: 17px;height: 35px;">
                            Americana Tornos (Melina)
                        </div>
                        <div class="desc">
                            1,200
                        </div>
                    </div>

                    <div class="linea">
                        <div class="desc" style="font-size: 17px;height: 35px;">
                            Americana 45 (Pino)
                        </div>
                        <div class="desc">
                            1,000
                        </div>
                    </div>

                    <div class="linea" style="font-size: 17px;height: 35px;">
                        <div class="desc">
                            Americana Tornos (Pino)
                        </div>
                        <div class="desc">
                            1,200
                        </div>
                    </div>

                    <div class="linea" style="font-size: 17px;height: 35px;">
                        <div class="desc">
                            Cuadrada Aglomerado
                        </div>
                        <div class="desc">
                            470
                        </div>
                    </div>

                    <div class="linea" style="font-size: 17px; height: 35px;">
                        <div class="desc">
                            Americana Aglomerado
                        </div>
                        <div class="desc">
                            680
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="sap" style="border-color: rgb(6, 111, 209);">
        <button class="cbs btn btn-success" style="border-radius: 0px; background-color: rgb(0, 117, 226);"  data-toggle="collapse" data-target="#tablero_collapse" aria-expanded="false">
                Tablero Paulonia
        </button>

        <div class="sept">
                
            <div class="conti collapse" id="tablero_collapse">
                <div style="height: 5px;"></div>
                <div class="nent" >
                
                    <div class="linea">
                        <div class="desc" style="font-size: 17px;height: 35px;">
                            1/2''
                        </div>
                        <div class="desc">
                            320
                        </div>
                    </div>

       
                    <div class="linea">
                        <div class="desc" style="font-size: 17px;height: 35px;">
                            3/4''
                        </div>
                        <div class="desc">
                            420
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
























</div>

