<div class="pos-f-t">
    <div class="collapse" id="navbarToggle">
        <div class="list-group">
            <a [routerLink]="['/pslist']"     class="list-group-item list-group-item-action">Precios</a>
            <!--
            <a [routerLink]="['/login']"    class="list-group-item list-group-item-action" >Login</a>
            <a [routerLink]="['/proform']"  class="list-group-item list-group-item-action">Cotizador</a>
            <a [routerLink]="['/pslist']"     class="list-group-item list-group-item-action">Precios</a>
            <a [routerLink]="['/card']"     class="list-group-item list-group-item-action">Card</a>
            -->
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>